<html>
	
	
	<head><title>AIA STORE</title> <link rel="stylesheet" href='aia.css'></head>
	<body>
<div class="main" style="height: 170%">
	<div class='navbar'> 
		<img src='infinity.png'  width="5%">
		
		<a class="logo" style="font-size: 35px ; font-family: cursive; "> AIA STORE</a>
		<a>home </a>
		<a> about</a>
		<input placeholder="search is not availble now !" type="search"style='background-color:  white;  font-family: monospace; border-radius: 8px;  width: 300px; padding: 8px' >
	</div>
	
	
	
	
		
	<h1 class="trend" style="color: white ; margin-top: 200px">DONT HAVE MUCH EXPERIENCE IN MAKING APPS </h1>
	
	
			<h1 class="trend" style="color: white ; "> USE OUR COOL TEMPLATES </h1>
		
		<a href="index2.html">
	<button style='margin-left:490px;  padding: 18px; background-color:rgb(1000,1000,1000,0.5);  font-size: 20px; border-radius: 8px; '>
		start a free trial
	</button></a>
	
	<h1 class="trend" style="color: white ; margin-left: 500px; "> our pricing plans </h1>
	<table>
	<tr>
		
		<td><div class="d"> <h2>basic plan</h2><hr><h3>+10 aia templates</h3><hr><h1>5$</h1><button>buy</button></div> </td>
		<td><div class="d"><h2>golden plan</h2><hr><h3>+50 aia templates</h3><hr><h1>10$</h1><button>buy</button></div> </td>
		
		<td><div class="d"><h2>plantium plan</h2><hr><h3>+100 aia templates</h3><hr><h1>30$</h1><button>buy</button></div> </td>
		</tr>
	
	
	
	</table>
	
		</div>
	</body>
	
</html>
